@import '../../assets/style/base/base.scss';
@import '../../assets/style/color/color.scss';
.info{
	max-width: $maxWidth;
	height: 100%;
	@extend %flexColumn;
	.info_content {
		flex: 1;
		font-size: 0.53rem;
		min-width: 10.0rem;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		padding-bottom: 1.33rem;
		background: #f5f5f9;

		&::-webkit-scrollbar {
	        display: none;
	    }
		.info_score{
			height: 5.47rem;
			background: #0cc7b4;
		}
		// 我的收藏
		.info_collected {
			height: 2.13rem;
			@extend %flexRow;
			background: #fff;
			.info_collected_item {
				flex: 1;
				padding: 0 0.53rem;
				@extend %flexRow;
				align-items: center;
				i {
					display: block;
					width: 1.07rem;
					height: 1.07rem;
					margin: 0 0.13rem;
					&.icon_collected {
						background: url('../../assets/imgs/myCollected.png') no-repeat;
						background-size: cover;
					}
					&.icon_history {
						background: url('../../assets/imgs/history.png') no-repeat;
						background-size: cover;
					}
				}
				div {
					@extend %flexColumn;
					justify-content: center;
					h3 {
						font-size: 0.29rem;
					}
					p {
						font-size: 0.25rem;
						color: #989898;
						margin-top: 0.21rem;
					}
				}
			}
		}
		%h2 {
			height: 0.36rem;
			line-height: 0.36rem;
			font-size: 0.36rem;
			color: #989898;
			padding-left: 0.2rem;
			border-left: 0.03rem solid #06c1ae;
		}
		// 信用管理
		.info_credit {
			margin-top: 0.27rem;
			padding: 0.53rem 0.27rem;
			h2 {
				@extend %h2;
			}
		}
	}
}